<div class="panel  panel-danger-admin">
    <div class="panel-heading">
        Gestión de Solicitud de Compra
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_sol" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'/templates/partials/crop.html'"></div>
<div class="modal" id="modalSol" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog  modal-lg" style="width:80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleSol"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Consecutivo</label>
                                <div class="col-sm-2">
                                    <select id="s_consecutive" class="form-control input-sm"></select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="s_nro_consecutive" readonly/>
                                </div>
                                <label class="col-sm-2 control-label">Fecha registro</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="s_date_register" readonly>
                                </div>
                                <label class="col-sm-1  control-label">Estado</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="s_state" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Prioridad</label>
                                <div class="col-sm-2">
                                    <select id="s_priority" class="form-control input-sm">
                                        <option value="">--Seleccionar--</option>
                                        <option value="A">Alta</option>
                                        <option value="M">Media</option>
                                        <option value="B">Baja</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 col-sm-offset-2 control-label">Fecha requerida</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="s_date_required" readonly>
                                </div>
                                <label class="col-sm-1  control-label">Area</label>
                                <div class="col-sm-2">
                                    <select id="s_area" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Observaciones</label>
                                <div class="col-sm-11">
                                    <textarea id="s_observations" rows="2" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger-admin btn-sm" id="btn_add_article"
                                            ng-click="openArticle()">
                                        <span class="fa fa-plus"></span>
                                        Agregar Artículo
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover"
                                       id="tabla_articulo_movi">
                                    <thead>
                                    <tr>
                                        <th>Artículo</th>
                                        <th width="90px" height="20px">Cantidad</th>
                                        <th width="90px" height="20px">Unidad Medida</th>
                                        <th width="130px">Fecha</th>
                                        <th width="200px">Observaciones</th>
                                        <th width="160px">Estado</th>
                                        <th width="50px"></th>
<!--                                        <th width="50px"></th>-->
                                    </tr>
                                    </thead>
                                    <tbody id="s_detail"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm hide" id="btn_movimiento_aprobar"
                        ng-click="saveSol(1)">
                    <span class="fa fa-check"></span>
                    Aprobar
                </button>
                <button type="button" class="btn btn-danger-admin btn-sm" id="btn_movimiento_guardar"
                        ng-click="saveSol(0)">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-warning btn-sm hide" id="btn_movimiento_cancelar"
                        ng-click="saveSol(4)">
                    <span class="fa fa-close"></span>
                    Cancelar
                </button>
                <button type="button" class="btn btn-danger-admin btn-sm hide" id="btn_movimiento_cerrar"
                        ng-click="saveSol(3)">
                    <span class="fa fa-check"></span>
                    Cerrar Compra
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal " id="modalArticle" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Artículos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_art" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm"
                        ng-click="addArticle()">
                    <span class="fa fa-save"></span>
                    Agregar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal" id="modalNada" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                <h4 class="modal-title">Artículo</h4>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="form-horizontal">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="alert alert-danger hide" role="alert" id="msg_cont">-->
<!--                                <span class="fa fa-warning"></span>-->
<!--                                Debe seleccionar un Artículo-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Artículo</label>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <input type="text" id="desProductoMN" readonly class="form-control input-sm">-->
<!--                                </div>-->
<!--                                <label class="col-sm-2 control-label">Cantidad</label>-->
<!--                                <div class="col-sm-2">-->
<!--                                    <input type="text" class="form-control input-sm" id="cantProductoMN">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArtNada()">Agregar</button>-->
<!--                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<!--<div class="modal" id="modalLoteR" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                <h4 class="modal-title">Lote</h4>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="form-horizontal">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="alert alert-danger hide" role="alert" id="msg_cont">-->
<!--                                <span class="fa fa-warning"></span>-->
<!--                                Debe seleccionar un Artículo-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Artículo</label>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <input type="text" id="desProductoMll" readonly class="form-control input-sm">-->
<!--                                </div>-->
<!--                                <label class="col-sm-2 control-label">Cantidad</label>-->
<!--                                <div class="col-sm-2">-->
<!--                                    <input type="text" id="cantProductoMll" onkeypress="return soloNumeros(event)"-->
<!--                                           class="form-control input-sm">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Lote</label>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <input type="text" id="codigoLoteMll" class="form-control input-sm">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Fecha Vencimiento</label>-->
<!--                                <div class="col-sm-4">-->
<!--                                    <input type="text" id="fechaVl" readonly class="form-control input-sm">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button id="btn_Lotd" disabled type="button" class="btn btn-danger-admin btn-sm"-->
<!--                        ng-click="addLoteExi()">Agregar-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<!--<div class="modal" id="modalSerieR" role="dialog">-->
<!--    <div class="modal-dialog modal-lg" role="document">-->
<!--        &lt;!&ndash; Modal content&ndash;&gt;-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                <h4 class="modal-title">Serie</h4>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="form-horizontal">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="alert alert-danger hide" role="alert" id="msg_cont">-->
<!--                                <span class="fa fa-warning"></span>-->
<!--                                Debe seleccionar un Artículo-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Artículo</label>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <input type="text" id="desProductoMss" readonly class="form-control input-sm">-->
<!--                                </div>-->
<!--                                <label class="col-sm-1 control-label">Cantidad</label>-->
<!--                                <div class="col-sm-2">-->
<!--                                    <input type="text" id="cantProductoMss" class="form-control input-sm"-->
<!--                                           onkeypress="return soloNumeros(event)">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <br>-->
<!--                            <div class="form-group">-->
<!--                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">-->
<!--                                    <button id="btnAgreSer" type="button" class="btn btn-danger-admin btn-sm"-->
<!--                                            ng-click="addtableSerie()">Agregar Serie-->
<!--                                    </button>-->

<!--                                    <button id="btnSeleSerie" type="button" class="btn btn-danger-admin btn-sm"-->
<!--                                            ng-click="addSeleccSerie()">Seleccionar Serie-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <br>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-12">-->
<!--                                    <div id="table_container_Series_Articulo" class="table-responsive"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="table-responsive table-wrapper">-->
<!--                                <table class="table table-bordered table-striped table-hover" id="tabla_articulo_serie">-->
<!--                                    <thead id="table_serie_cabecera">-->
<!--                                    &lt;!&ndash; <tr>-->
<!--                                        <th width="250px" >Artículo</th>-->
<!--                                        <th width="250px" height="20px">Nr° Serie</th>-->
<!--                                        <th width="250px" height="20px">Chasis</th>-->
<!--                                        <th width="250px" height="20px">Motor</th>-->
<!--                                        <th width="100px" height="20px">Color</th>-->
<!--                                        <th width="150px" height="20px">Año fabricación</th>-->
<!--                                        <th width="100px" height="20px">Año Modelo</th>-->
<!--                                    </tr> &ndash;&gt;-->
<!--                                    </thead>-->
<!--                                    <tbody id="articulo_serie_det"></tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" id="btn_serC" disabled class="btn btn-danger-admin btn-sm"-->
<!--                        ng-click="addSerieCompleTab()">Agregar-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal" id="modalLote" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        &lt;!&ndash; Modal content&ndash;&gt;-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                <h4 class="modal-title">Lote</h4>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="form-horizontal">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="alert alert-danger hide" role="alert" id="msg_cont">-->
<!--                                <span class="fa fa-warning"></span>-->
<!--                                Debe seleccionar un Artículo-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Artículo</label>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <input type="text" id="desProductoML" readonly class="form-control input-sm">-->
<!--                                </div>-->
<!--                                <label class="col-sm-2 control-label">Cantidad</label>-->
<!--                                <div class="col-sm-2">-->
<!--                                    <input type="text" onkeypress="return soloNumeros(event)"-->
<!--                                           class="form-control input-sm" id="cantProductoML">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Lote</label>-->
<!--                                <div class="col-sm-4">-->
<!--                                    <input type="text" readonly class="form-control input-sm" id="lotProductoML">-->
<!--                                </div>-->
<!--                                <label class="col-sm-2 control-label">Fecha de Ingreso</label>-->
<!--                                <div class="col-sm-4">-->
<!--                                    <input type="date" class="form-control input-sm hasDatepicker" id="fIngrePrML">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 control-label">Fecha de Vencimiento</label>-->
<!--                                <div class="col-sm-4">-->
<!--                                    <input type="date" class="form-control input-sm hasDatepicker" id="fVenPrML">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArtLote()">Agregar</button>-->
<!--                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
