<style>
    .danger_admin th {
        background-color: #ec1415 !important;
        color: #fff;
    }
</style>
<div class="panel  panel-danger-admin">
    <div class="panel-heading">
        <div class="pull-right date_range_div resize-pull">
            <label class="checkbox-inline i-checks">
                <input type="checkbox" checked class="chk_date_range_oc" id="chk_date_range"/>
            </label>
            <div id="reqDates" class="">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        Gestión de Orden de Compra
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_oc" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'/templates/partials/crop.html'"></div>
<div class="modal" id="modalOC" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog  modal-lg" style="width:90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleOC"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Consecutivo</label>
                                <div class="col-sm-2">
                                    <select id="oc_consecutive" class="form-control input-sm"></select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="oc_nro_consecutive" readonly />
                                </div>
                                <label class="col-sm-2 control-label">Fecha registro</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="oc_date_register" readonly />
                                </div>
                                <label class="col-sm-1  control-label">Estado</label>
                                <div class="col-sm-2">
                                    <select id="oc_state" disabled class="form-control input-sm">
                                        <option value="1" selected>Registrado</option>
                                        <option value="2">Por Aprobar</option>
                                        <option value="3">Aprobado</option>
                                        <option value="4">Recibido</option>
                                        <option value="5">Backorder</option>
                                        <option value="6">Cerrado</option>
                                        <option value="7">Cancelado</option>
                                        <option value="8">Rechazado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Prioridad</label>
                                <div class="col-sm-2">
                                    <select id="oc_priority" class="form-control input-sm">
                                        <option value="">--Seleccionar--</option>
                                        <option value="A">Alta</option>
                                        <option value="M">Media</option>
                                        <option value="B">Baja</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 col-sm-offset-2 control-label">Fecha requerida</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="oc_date_required" readonly />
                                </div>
                                <label class="col-sm-1  control-label">Moneda</label>
                                <div class="col-sm-2">
                                    <select id="oc_currency" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1  control-label">Proveedor</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="oc_provider" readonly />
                                        <span class="input-group-btn">
                                            <button id="oc_provider_btn" class="btn btn-success btn-sm"
                                                    type="button" ng-click="openProvider()">
                                                <span class="fa fa-search-plus"></span>
                                            </button>
                                            <button id="oc_provider_btn_new" class="btn btn-danger btn-sm"
                                                    type="button" ng-click="newProvider()">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-2  control-label">Condición de Pago</label>
                                <div class="col-sm-2">
                                    <select id="oc_payment_condition" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Dirección de Entrega</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-sm" id="oc_address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Comentarios</label>
                                <div class="col-sm-11">
                                     <textarea id="oc_comment" rows="3" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                            <div class="form-group hide div-approval">
                                <label class="col-sm-1 control-label">Comentarios Aprobación</label>
                                <div class="col-sm-11">
                                     <textarea id="oc_comment_approval" rows="3" class="form-control input-sm"
                                               disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-danger-admin btn-sm" id="oc_btn_add_article"
                                            ng-click="openArticle()">
                                        <span class="fa fa-plus"></span>
                                        Agregar Artículo
                                    </button>
                                    <button type="button" class="btn btn-danger-admin btn-sm" id="oc_btn_add_article_sol"
                                            ng-click="openArticleSol()">
                                        <span class="fa fa-plus"></span>
                                        Agregar Artículo de Solicitud
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th width="150px">Artículo</th>
                                        <th width="90px">Cantidad</th>
                                        <th width="90px">Cantidad Pendiente</th>
                                        <th width="90px">Cantidad Recibida</th>
                                        <th width="90px">Cantidad Devuelta</th>
                                        <th width="150px">Precio Unitario</th>
                                        <th width="100px">Precio Total</th>
                                        <th width="90px">Porcentaje Descuento</th>
                                        <th width="90px">Monto Descuento</th>
                                        <th width="90px">Valor Compra</th>
                                        <th width="90px">Valor Compra Descuento</th>
                                        <th width="90px">Impuesto</th>
                                        <th width="90px">Sub Total</th>
                                        <th width="130px">Fecha</th>
                                        <th width="160px">Estado</th>
                                        <th width="50px"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="oc_detail"></tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th id="oc_q_final" class="text-right">0.00</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="oc_pt_final" class="text-right"></th>
                                        <th></th>
                                        <th></th>
                                        <th id="oc_vc_final" class="text-right"></th>
                                        <th id="oc_vcd_final" class="text-right"></th>
                                        <th id="oc_imp_final" class="text-right"></th>
                                        <th id="oc_st_final" class="text-right"></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <p><strong> NOTA: Estos descuentos afectarán directamente al "Valor Compra" de cada
                                    artículo </strong></p>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Impuesto</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" id="oc_is_igv">
                                    </div>
                                    <label class="col-sm-2  control-label">
                                        Porcentaje descuento global
                                    </label>
                                    <div class="col-sm-1">
                                        <input type="text" id="oc_per_disc_total" class="form-control input-sm text-right"
                                               value="0" onkeypress="return validDecimals(event, this, 3)"
                                               onblur="return roundDecimals(this, 2)" onclick="this.select()" />
                                    </div>
                                    <label class="col-sm-2  control-label">
                                        Monto descuento global
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="text" id="oc_amount_disc_total" class="form-control input-sm text-right"
                                               value="0" onkeypress="return validDecimals(event, this, 3)"
                                               onblur="return roundDecimals(this, 2)" onclick="this.select()"/>
                                    </div>

                                    <label class="col-sm-1 control-label">Total</label>
                                    <div class="col-sm-2">
                                        <input id="oc_total" class="form-control input-sm text-right" readonly value="0.00"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm btn-approval hide" ng-click="showApprovalOC()">
                    <span class="fa fa-eye"></span>
                    Ver Aprobaciones
                </button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="printOC()">
                    <span class="fa fa-file-pdf-o"></span>
                    Imprimir
                </button>
                <button type="button" class="btn btn-warning btn-sm btn-cancel hide" ng-click="cancelOC()">
                    <span class="fa fa-sign-out"></span>
                    Cancelar OC
                </button>
                <button type="button" class="btn btn-warning btn-sm btn-close hide" ng-click="closeOC()">
                    <span class="fa fa-sign-out"></span>
                    Cerrar OC
                </button>
                <button type="button" class="btn btn-success btn-sm" id="oc_btn_send_approval" ng-click="saveOC(2)">
                    <span class="fa fa-check"></span>
                    Por Aprobar
                </button>
                <button type="button" class="btn btn-danger-admin btn-sm" id="oc_btn_save" ng-click="saveOC(1)">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalArticle" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Artículos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_art" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArticle()">
                    <span class="fa fa-save"></span>
                    Agregar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalArticleSol" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Artículos de Solicitud de Compra</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_art_sol" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArticleSol()">
                    <span class="fa fa-save"></span>
                    Agregar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalFilter" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Filtros de busqueda</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="oc_con_s">Consecutivo</label>
                        <input id="oc_con_s" class="form-control input-sm" />
                    </div>
                    <div class="form-group">
                        <label for="oc_date_s">Fecha Requerida</label>
                        <input id="oc_date_s" class="form-control input-sm" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" ng-click="resetFilter()">
                    <span class="fa fa-power-off"></span> Resetear Filtros
                </button>
                <button type="button" class="btn btn-success btn-sm" ng-click="saveFilter()">
                    <span class="fa fa-check"></span> Guardar
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalApprovers" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aprobadores</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr class="danger_admin">
                            <th>Aprobador</th>
                            <th>Comentarios</th>
                            <th>Fecha Registro</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody id="oc_approvers"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalFormat" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitlePDF"></h4>
            </div>
            <div class="modal-body">
                <div id="modal_pdf_load"></div>
                <div id="modal_pdf_show"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalProvider" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Proveedores</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_prov" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalRegisterProvider" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registrar Proveedor</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo Documento</label>
                        <div class="col-sm-4">
                            <select id="p_type_doc" class="form-control input-sm"></select>
                        </div>
                        <label class="col-sm-2 control-label">Documento</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm " id="p_document" maxlength="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo Proveedor</label>
                        <div class="col-sm-4">
                            <select id="p_type_prov" class="form-control input-sm"></select>
                        </div>
                        <label class="col-sm-2 control-label">Tipo Doc. de Venta</label>
                        <div class="col-sm-4">
                            <select id="p_type_doc_sale" class="form-control input-sm"></select>
                        </div>
                    </div>
                    <div class="form-group p_natural_person">
                        <label class="col-sm-2 control-label">A. Paterno</label>
                        <div class="col-sm-2" style="padding-right: 0;">
                            <input id="p_lastname" class="form-control input-sm" />
                        </div>
                        <label class="col-sm-2 control-label">A. Materno</label>
                        <div class="col-sm-2" style="padding-left: 0;">
                            <input id="p_lastname2" class="form-control input-sm" />
                        </div>
                        <label class="col-sm-2 control-label">Nombres</label>
                        <div class="col-sm-2" style="padding-left: 0;">
                            <input id="p_name" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Razon Social</label>
                        <div class="col-sm-10">
                            <input id="p_rs" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-10">
                            <input id="p_address" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contacto</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm " id="p_contact">
                        </div>
                        <label class="col-sm-2 control-label">Correo</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control input-sm " id="p_email">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Celular</label>
                        <div class="col-sm-4">
                            <input id="p_cellphone" class="form-control input-sm" />
                        </div>
                        <label class="col-sm-2 control-label">Teléfono</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm " id="p_phone">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Departamento</label>
                        <div class="col-sm-4">
                            <select id="p_department" class="form-control input-sm">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Provincia</label>
                        <div class="col-sm-4">
                            <select id="p_province" class="form-control input-sm">
                                <option value="">Seleccione</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Distrito</label>
                        <div class="col-sm-4">
                            <select id="p_district" class="form-control input-sm">
                                <option value="">Seleccione</option></select>
                        </div>
                        <label class="col-sm-2 control-label">Estado Civil</label>
                        <div class="col-sm-4">
                            <select class="form-control input-sm" id="p_ec">
                                <option value="">Seleccionar</option>
                                <option value="S">Soltero</option>
                                <option value="C">Casado</option>
                                <option value="D">Divorciado</option>
                                <option value="V">Viudo</option>
                                <option value="X">Conviviente</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Impuesto</label>
                        <div class="col-sm-1">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox" id="p_imp" checked>
                            </label>
                        </div>
                        <label class="col-sm-2 control-label">Congelado</label>
                        <div class="col-sm-1">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox" id="p_con" checked>
                            </label>
                        </div>
                        <label class="col-sm-2 control-label">Activo</label>
                        <div class="col-sm-1">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox" id="p_act" checked>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="saveProvider()">Registrar</button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
