<div class="panel  panel-danger-admin">
    <div class="panel-heading">
        <div class="pull-right date_range_div resize-pull">
            <label class="checkbox-inline i-checks">
                <input type="checkbox" checked class="chk_date_range_r" id="chk_date_range"/>
            </label>
            <div id="reqDates" class="">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        Gestión de Devolución de Ordenes de Compra
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_dev" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalDev" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleDev"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Código</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="d_code" readonly />
                                </div>
                                <label class="col-sm-1 control-label">Recepción</label>
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="d_reception" readonly />
                                        <span class="input-group-btn">
                                            <button id="d_reception_btn" class="btn btn-success btn-sm"
                                                    type="button" ng-click="openReception()">
                                                <span class="fa fa-search-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label">Fecha</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="d_date" readonly />
                                </div>
                                <label class="col-sm-1 control-label">Almacén</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="d_warehouse" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Operación</label>
                                <div class="col-sm-2">
                                    <select id="d_operation" class="form-control input-sm" disabled></select>
                                </div>
                                <label class="col-sm-1 control-label">Moneda</label>
                                <div class="col-sm-2">
                                    <input type="text" id="d_currency" class="form-control input-sm" readonly />
                                </div>
                                <label class="col-sm-1 control-label">Observaciones</label>
                                <div class="col-sm-5">
                                    <textarea id="d_observations" rows="2" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Artículo</th>
                                        <th width="15%">Localización</th>
                                        <th width="15%">Lote</th>
                                        <th width="10%">Precio</th>
                                        <th width="10%">Cantidad Rec</th>
                                        <th width="10%">Cantidad por Devolver</th>
                                        <th width="10%">Devolver</th>
                                        <th width="50px">Series</th>
                                        <th width="50px"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="d_detail"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm btn-print hide" ng-click="printDev()">
                    <span class="fa fa-file-pdf-o"></span>
                    Imprimir
                </button>
                <button type="button" class="btn btn-info btn-sm btn-save" ng-click="saveDev(2)">
                    <span class="fa fa-save"></span>
                    Procesar
                </button>
                <button type="button" class="btn btn-danger-admin btn-sm btn-save" ng-click="saveDev(1)">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalRec" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recepciones de Orden de Compra</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_rec" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalSeries" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Series</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_series" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalSeriesProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Serie del Articulo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Artículo</label>
                                <div class="col-sm-6">
                                    <input type="text" id="d_series_text" readonly class="form-control input-sm">
                                </div>
                                <label class="col-sm-1 control-label">Cantidad</label>
                                <div class="col-sm-1">
                                    <input type="text" id="d_series_q" class="form-control input-sm text-right" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                                    <button type="button" class="btn btn-danger-admin btn-sm btn-frm"
                                            ng-click="selectSeries()">Seleccionar Serie
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th width="10%">Artículo</th>
                                        <th width="10%">N°Serie</th>
                                        <th width="10%">Chasis</th>
                                        <th width="10%">Motor</th>
                                        <th width="10%">Color</th>
                                        <th width="10%">Año<br>fabricación</th>
                                        <th width="10%">Año<br>Modelo</th>
                                        <th width="10%">Tipo Compra</th>
                                        <th width="10%">N°Poliza</th>
                                        <th width="10%">N°Lote</th>
                                    </tr>
                                    </thead>
                                    <tbody id="d_series_detail"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm btn-frm"
                        ng-click="addSeriesProduct()">Agregar</button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>