<div class="panel  panel-danger-admin">
    <div class="panel-heading">
        <div class="pull-right date_range_div resize-pull">
            <label class="checkbox-inline i-checks">
                <input type="checkbox" checked class="chk_date_range_cs" id="chk_date_range"/>
            </label>
            <div id="reqDates" class="">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        Gestión de Recepción de Conformidad de Servicio
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_c" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalC" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleC"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Código</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="c_code" readonly />
                                </div>
                                <label class="col-sm-1 control-label">O/C</label>
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="c_oc" readonly />
                                        <span class="input-group-btn">
                                            <button id="c_oc_btn" class="btn btn-success btn-sm"
                                                    type="button" ng-click="openOC()">
                                                <span class="fa fa-search-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label">Fecha</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="c_date" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Operación</label>
                                <div class="col-sm-2">
                                    <select id="c_operation" class="form-control input-sm" disabled></select>
                                </div>
                                <label class="col-sm-1 control-label">Moneda</label>
                                <div class="col-sm-2">
                                    <select id="c_currency" class="form-control input-sm" disabled></select>
                                </div>
                                <label class="col-sm-1 control-label">Observaciones</label>
                                <div class="col-sm-5">
                                    <textarea id="c_observations" rows="2" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Servicio</th>
                                        <th width="10%">Precio</th>
                                        <th width="10%">Cantidad OC</th>
                                        <th width="10%">Cantidad Pendiente</th>
                                        <th width="10%">Recepción</th>
                                        <th width="50px"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="c_detail"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm btn-print hide" ng-click="printC()">
                    <span class="fa fa-file-pdf-o"></span>
                    Imprimir
                </button>
                <button type="button" class="btn btn-success btn-sm btn-save" ng-click="saveC(2)">
                    <span class="fa fa-save"></span>
                    Procesar
                </button>
                <button type="button" class="btn btn-danger-admin btn-sm btn-save" ng-click="saveC(1)">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalOC" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ordenes de Compra</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_oc" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>