<style>
    .danger_admin th {
        background-color: #ec1415 !important;
        color: #fff;
    }
</style>
<div class="panel panel-danger-admin">
    <div class="panel-heading">
        Gestión de Aprobación de Ordenes de Compra
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_oc" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalOC" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog  modal-lg" style="width:90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleOC"></h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="showApproval()">
                        <span class="fa fa-eye"></span>
                        Ver Aprobaciones
                    </button>
                    <button type="button" class="btn btn-warning btn-sm btn_Aprobar" ng-click="approvalReject(1)">
                        <span class="fa fa-save"></span>
                        Aprobar
                    </button>
                    <button type="button" class="btn btn-info btn-sm btn_Rechazar" ng-click="approvalReject(2)">
                        <span class="fa fa-ban"></span>
                        Rechazar
                    </button>
                    <button type="button" class="btn btn-danger-admin btn-sm" ng-click="openAddApproval()">
                        <span class="fa fa-ban"></span>
                        Observación de Aprobación
                    </button>
                </div>
                <div class="separator"></div>
                <div class="separator"></div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Consecutivo</label>
                                <div class="col-sm-2">
                                    <input id="oc_consecutive" class="form-control input-sm" readonly />
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="oc_nro_consecutive" readonly />
                                </div>
                                <label class="col-sm-2 control-label">Fecha registro</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="oc_date_register" readonly />
                                </div>
                                <label class="col-sm-1  control-label">Estado</label>
                                <div class="col-sm-2">
                                    <input id="oc_state" readonly class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Prioridad</label>
                                <div class="col-sm-2">
                                    <input id="oc_priority" readonly class="form-control input-sm" />
                                </div>
                                <label class="col-sm-2 col-sm-offset-2 control-label">Fecha requerida</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" id="oc_date_required" readonly />
                                </div>
                                <label class="col-sm-1  control-label">Moneda</label>
                                <div class="col-sm-2">
                                    <input id="oc_currency" readonly class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1  control-label">Proveedor</label>
                                <div class="col-sm-4">
                                    <input id="oc_provider" readonly class="form-control input-sm" />
                                </div>
                                <label class="col-sm-2  control-label">Condición de Pago</label>
                                <div class="col-sm-2">
                                    <input id="oc_payment_condition" readonly class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Dirección de Entrega</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-sm" id="oc_address" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Comentarios</label>
                                <div class="col-sm-11">
                                    <textarea id="oc_comment" rows="3" class="form-control input-sm"
                                              disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Comentarios Aprobación</label>
                                <div class="col-sm-11">
                                     <textarea id="oc_comment_approval" rows="3" class="form-control input-sm"
                                               disabled></textarea>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th width="150px">Artículo</th>
                                        <th width="90px">Cantidad</th>
                                        <th width="90px">Cantidad Pendiente</th>
                                        <th width="90px">Cantidad Recibida</th>
                                        <th width="90px">Cantidad Devuelta</th>
                                        <th width="150px">Precio Unitario</th>
                                        <th width="100px">Precio Total</th>
                                        <th width="90px">Porcentaje Descuento</th>
                                        <th width="90px">Monto Descuento</th>
                                        <th width="90px">Valor Compra</th>
                                        <th width="90px">Valor Compra Descuento</th>
                                        <th width="90px">Impuesto</th>
                                        <th width="90px">Sub Total</th>
                                        <th width="130px">Fecha</th>
                                        <th width="160px">Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody id="oc_detail"></tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th id="oc_q_final" class="text-right">0.00</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="oc_pt_final" class="text-right"></th>
                                        <th></th>
                                        <th></th>
                                        <th id="oc_vc_final" class="text-right"></th>
                                        <th id="oc_vcd_final" class="text-right"></th>
                                        <th id="oc_imp_final" class="text-right"></th>
                                        <th id="oc_st_final" class="text-right"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <p><strong> NOTA: Estos descuentos afectarán directamente al "Valor Compra" de cada
                                    artículo </strong></p>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Impuesto</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" id="oc_is_igv">
                                    </div>
                                    <label class="col-sm-2  control-label">
                                        Porcentaje descuento global
                                    </label>
                                    <div class="col-sm-1">
                                        <input type="text" id="oc_per_disc_total" class="form-control input-sm text-right"
                                               value="0" readonly />
                                    </div>
                                    <label class="col-sm-2  control-label">
                                        Monto descuento global
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="text" id="oc_amount_disc_total" class="form-control input-sm text-right"
                                               value="0" readonly />
                                    </div>

                                    <label class="col-sm-1 control-label">Total</label>
                                    <div class="col-sm-2">
                                        <input id="oc_total" class="form-control input-sm text-right" readonly value="0.00"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalObservation" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comentario Aprobación</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="oc_comment_approval" class="col-sm-2 control-label">Comentario:</label>
                        <div class="col-sm-10">
                            <textarea id="oc_add_comment_approval" rows="3" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="saveObservation()">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalApprovers" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aprobadores</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr class="danger_admin">
                            <th>Aprobador</th>
                            <th>Comentarios</th>
                            <th>Fecha Registro</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody id="oc_approvers"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>