<div class="panel panel-danger-admin">
    <div class="panel-heading">
        <div class="pull-right date_range_div resize-pull">
            <label class="checkbox-inline i-checks">
                <input type="checkbox" checked class="chk_date_range_r" id="chk_date_range"/>
            </label>
            <div id="reqDates" class="">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        Reporte de Créditos Aprobados
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10 text-right">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" id="r_client" placeholder="Seleccione Cliente" readonly />
                            <div class="input-group-btn">
                                <button class="btn btn-danger btn-sm" type="button" ng-click="openClient()" title="Buscar">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="btn btn-warning btn-sm" type="button" ng-click="cleanClient()" title="Limpiar">
                                    <span class="fa fa-eraser"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_ReporteCreditosAprobado" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalClient" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Seleccione Cliente </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="table_container_client" class="table-responsive"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>